<aside id = 'sidebar'>
  <nav>
    <ul>
      <li>
        <%= link_to 'Todos os Livros', books_path %>
      </li>
      <li>
        <%= link_to 'Adicionar um Livro', new_book_path %>
      </li>
    </ul>
  </nav>
</aside>
